{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<h1>Tervetuloa!</h1>
{% if 'scrollPos' in session %}
    <input type="hidden" id="getPos" value="{{session['scrollPos']}}">
{% endif %}
<p> 
    {% if "user" in session %}
    <a href="/newTopic" onscroll="getScrollPos()">Uusi aihe</a>
    {% endif %}
    <hr>
    <form action="/" method="POST">
        Haku:<br>
        <input type="text" name="search" placeholder="Etsi sanoilla" value="{{session['search']}}"><br><br>
        Aihealue:<br>
        <select name="theme">
            {% for i in range(session['theme']|length) %}
                {% if session['theme'][i][1] %}
                    <option value="{{session['theme'][i][0]}}" selected>{{session['theme'][i][0]}}</option>
                {% else %}
                    <option value="{{session['theme'][i][0]}}">{{session['theme'][i][0]}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
        Järjestä:<br>
        <select name="sort">
            {% for i in range(session['sort']|length) %}
                {% if session['sort'][i][1] %}
                    <option value="{{session['sort'][i][0]}}" selected>{{session['sort'][i][0]}}</option>
                {% else %}
                    <option value="{{session['sort'][i][0]}}">{{session['sort'][i][0]}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
        Aiheita per sivu:<br>
        <select name="topics_per_page">
            {% for i in range(session['topics_per_page']|length) %}
                {% if session['topics_per_page'][i][1] %}
                    <option value="{{session['topics_per_page'][i][0]}}" selected>{{session['topics_per_page'][i][0]}}</option>
                {% else %}
                    <option value="{{session['topics_per_page'][i][0]}}">{{session['topics_per_page'][i][0]}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="päivitä">
    </form>
    
    {% for i in range(topics|length) %}
    <hr>
    <!-- 0: topic_id, 1: otsikko, 2: info, 3: luoja 4: aika 5: pic_name, 6: pic_data, 7:profile_pic_data, 8: upvotes, 9: downvotes, 10:message_count, 11: vote-->
        <a href="/topic{{topics[i][0]}}"><b>{{topics[i][1]}}</b></a> <br><br>
        {% if 100 > topics[i][2]|length %} <!-- esikatselu on 100 merkkiä pitkä -->
            {{topics[i][2]}} <br>
        {% else %}
            {{topics[i][2][:100] + " ..."}}
        {% endif %}

        {% if topics[i][5] != None %}
            <div style="width: 128px; height: 128px;">
                <img src="data:image/jpeg;base64,{{topics[i][6]}}" alt="{{topics[i][5]}}" style="width: inherit">
            </div>
        {% endif %}
        <br>
        luonut:
        {% if topics[i][7] != None %}
        <div style="width: 15px; height: 15px; display: inline;">
            <img src="data:image/jpeg;base64,{{topics[i][7]}}" alt="Profiilikuva" style="width: inherit">
        </div>
        {% endif %}
        {{topics[i][3]}}, {{topics[i][4].strftime("%Y-%m-%d %H:%M")}} <br>
        Viestejä: {{topics[i][10]}} kpl<br>
        {% if 'user' in session %}
            <form action="/" method="POST" onsubmit="return getScrollPos(this)">
                <input type="hidden" name="topic_index" value="{{i}}">
                <input type="hidden" name="topic_id" value="{{topics[i][0]}}">
                <input type="hidden" id="scrollPos" name="scrollPos" value="">
                <input type="hidden" name="topics" value="{{topics}}">
                {{topics[i][8]}}
                {% if topics[i][11] == None or topics[i][11] == 0%}
                    <input type="image" name="upvote" value="1" src="/static/images/thumb_off1.png" alt="Submit" style="width: 25px" />
                {% elif topics[i][11] == 1 %}
                    <input type="image" name="upvote" value="1" src="/static/images/thumb_on1.png" alt="Submit" style="width: 25px" />
                {% endif %}
                {{topics[i][9]}}
                {% if topics[i][11] == None or topics[i][11] == 1%}
                    <input type="image" name="downvote" value="0" src="/static/images/thumb_off1.png" alt="Submit"
                        style="width: 25px; transform: rotate(180deg);" />
                {% elif topics[i][11] == 0 %}
                    <input type="image" name="downvote" value="0" src="/static/images/thumb_red.png" alt="Submit"
                        style="width: 25px; transform: rotate(180deg);" />
                {% endif %}
            </form>
        {% else %}
            <form action="/login" method="GET" onsubmit="return getScrollPos(this)">
                <input type="hidden" name="topic_id" value="{{topics[i][0]}}">
                <input type="hidden" id="scrollPos" name="scrollPos" value="">
                {{topics[i][8]}}
                <input type="image" name="upvote" value="1" src="/static/images/thumb_off1.png" alt="Submit" style="width: 25px" />
                {{topics[i][9]}}
                <input type="image" name="downvote" value="0" src="/static/images/thumb_off1.png" alt="Submit"
                    style="width: 25px; transform: rotate(180deg);" />
            </form>
        {% endif %}
    {% endfor %}
</p>
{% if page_count > 1%}
<div>
    sivut:
    <form action="/" method="POST">
        {% if page_count > 5 %}
            {% if current > 1 %}
                <input type="submit" name="page" value="edellinen">
            {% endif %}
            {% if 3 >= current %}
                {% for i in range(1, 6) %}
                    {% if i == current %}
                        <input type="submit" name="page" value="{{i}}" style="background-color: lightskyblue;">
                    {% else %}
                        <input type="submit" name="page" value="{{i}}">
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if current > 3 %}
                <input type="submit" name="page" value="1"> ...
            {% endif %}
            {% if current >= page_count-2 %}
                {% for i in range(page_count-4, page_count+1) %}
                    {% if i == current %}
                        <input type="submit" name="page" value="{{i}}" style="background-color: lightskyblue;">
                    {% else %}
                        <input type="submit" name="page" value="{{i}}">
                    {% endif %}
                {% endfor %}
            {% elif current > 3 %}
                {% for i in range(current-2, current+3) %}
                    {% if i == current %}
                        <input type="submit" name="page" value="{{i}}" style="background-color: lightskyblue;">
                    {% else %}
                        <input type="submit" name="page" value="{{i}}">
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if page_count-3 >= current %}
                ... <input type="submit" name="page" value="{{page_count}}">
            {% endif %}
        {% else %}
            {% if current > 1 %}
                <input type="submit" name="page" value="edellinen">
            {% endif %}
            {% for i in range(1, page_count+1) %}
                {% if i == current %}
                    <input type="submit" name="page" value="{{i}}" style="background-color: lightskyblue;">
                {% else %}
                    <input type="submit" name="page" value="{{i}}">
                {% endif %}
            {% endfor %}
            {% if page_count > current %}
                <input type="submit" name="page" value="seuraava">
            {% endif %}
        {% endif %}
    </form>
</div>
{% endif %}

<script>

    var start_scroll_pos = document.getElementById("getPos").value
    console.log(start_scroll_pos)
    setTimeout(function (){
        window.scrollTo(0, start_scroll_pos)
    });
    console.log(start_scroll_pos)

    function getScrollPos(form){
        var scroll_position = document.documentElement.scrollTop || document.body.scrollTop
        form.scrollPos.value = scroll_position;
        if (form.scrollPos.value == ""){
            return false;
        }else{
            console.log(scroll_position)
            return true;
        }
    }
</script>
{% endblock %}