<title>Fuksi-lauta - {% block title %}{% endblock %}</title>
<h1>Fuksi-lauta</h1>
<a href="/">Etusivu</a>
{% if "user" not in session %}
    <a href="/login">Kirjaudu</a>
    <a href="/register">Rekisteröidy</a>
{% else %}
    <a href="/profile/{{session['user']}}">Profiili</a>
    <a href="/logout">Kirjaudu ulos</a>
    <br>
    <p>
        Olet kirjautunut käyttäjällä {{session["user"]}}
    </p>
{% endif %}
<hr>
{% block content %}{% endblock %}
<hr>
{% if session["visit_info"][1] != None %}
Kävit viimeksi sivustolla {{session["visit_info"][1].strftime("%Y-%m-%d %H:%M:%S")}}
{% endif %}
<br>
<br>
Sivustolla käyneitä: {{session["visit_info"][0]}} <br>
Sivustolla kirjautuneita käyttäjiä: {{session["user_count"]}}