{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}


<form action="/newTopic" method="POST" enctype="multipart/form-data" onsubmit="return checkText(this)">
    <p>
        <b>Aihe:</b><br>
        <input type="text" name="topic" value="{{topic}}" maxlength="60" size="60"><br>
        Viesti:<br>
        <textarea name="info" rows="5" cols ="80" maxlength="2000">{{info}}</textarea>
        <div id="onJS" style="display: none"><span id="text_length">0</span>/2000 merkkiä</div>
        <br>Lisää kuva:<br>
        Tiedosto: <input type="file" name="file">
         Tuetut kuvatiedostot: .png, .jpg, .jpeg <br>
        {% if notSucceed %}
            <br>
            <span style="color:red">Kuvan lataus epäonnistui.</span>
        {% endif %}
        <input type="hidden" name="permission_id" value="-1"> <br>
    </p>
    <p>
        <input type="submit" value="Lähetä">
    </p>
</form>
<script>

    var textCounter = document.getElementById("onJS");
    if (textCounter.style.display == "none") {
        // Jos javascript on päällä, sivusto näyttää viestin merkkien määrän samalla kun kirjoittaa
        textCounter.style.display = "block"
    }

    var textarea = document.querySelector("textarea");
    var currentLength = 0;

    textarea.addEventListener("input", event =>{
        const target = event.currentTarget;
        currentLength = target.value.length;
        document.getElementById("text_length").innerText = currentLength
    });

    function checkText(form) {
        if(form.topic.value == 0){
            alert("Kirjoita aihe!")
            return false;
        }
        return true;
    }
</script>

{% endblock %}