{% extends "layout.html" %}
{% block title %}Rekisteröidy{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="static/style.css">

<div class="profile">
    {% if not reg_succeed %}
        <h2>Rekisteröidy</h2>
        <form action="/register" method="POST" onsubmit="return checkPassword(this)">
            <input type="hidden" name="csrf" value="{{session['csrf']}}">
            <p>
                Käyttäjätunnus<br>
                <input type="text" name="username">
            </p>
            <p>
                Salasana:<br>
                <input type="password" name="password1">
                Salasanan pitää olla vähintään 8 merkkiä pitkä ja sisältää numeroita.
            </p>
            <p>
                Salasana uudelleen:<br>
                <input type="password" name="password2">
            </p>
            <input type="submit" value="Rekisteröidy">
        </form>
        <p>
            Jos sinulla on jo käyttäjä, kirjaudu sisään
            <a href="/login">tästä</a>.
    {% else %}
        <h3>Rekistöröinti onnistui.</h3>
        <p>
            Kirjaudu 
            <a href="/login"> tästä</a> sisään.
        </p>
    {% endif %}
</div>
<script>
    function checkPassword(form) {
        if (form.password1.value != form.password2.value) {
            alert("Salasanat eivät täsmää!")
            return false;
        }
        if (!(/\d/.test(form.password1.value))) {
            alert("Salasanan pitää sisältää vähintään yksi numero!")
            return false;
        }
        if (!(/[a-zA-Z]/.test(form.password1.value))){
            alert("Salasana ei voi koostua vain numeroista/merkeistä! Lisää kirjaimia joukkoon.")
            return false;
        }
        if (form.password1.value.length < 8) {
            alert("Salasana on liian lyhyt!")
            return false;
        }
        return true;
    }
</script>

    {% endblock %}