{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

<!-- 0:topic_id, 1:username, 2:topic, 3:info, 4:time, 5:pic_name, 6:visits 7: pic_data 8:profile_pic_data-->
<h2>{{topic[2]}}</h2>
{% if topic[5] != None %}
    <p>
        <div style="width: 500px; height: 500px;">
            <img src="data:image/jpeg;base64,{{topic[7]}}" alt="{{topic[5]}}" style="width: inherit">
        </div>
    </p>
{% endif %}
<p>
    {{topic[3]}}
</p>
Luonut:
{% if topic[8] != None %}
    <div style="width: 15px; height: 15px; display: inline;">
        <img src="data:image/jpeg;base64,{{topic[8]}}" alt="Profiilikuva" style="width: inherit">
    </div>
{% endif %}
{{topic[1]}}, {{topic[4].strftime("%Y-%m-%d %H:%M:%S")}}
<br>
<p>
    {% if "user" in session %}
        <form action="/topic{{topic[0]}}" method="POST" enctype="multipart/form-data" onsubmit="return checkText(this)">
            Kirjoita viesti:<br>
            <textarea name="message" rows="5" cols="60" maxlength="500"></textarea>
            <div id="onJS" style="display: none"><span id="text_length">0</span>/500 merkkiä</div>
            <br>Lisää kuva:<br>
            Tiedosto: <input type="file" name="file"><br>Tuetut kuvatiedostot: .png, .jpg, .jpeg <br>
            {% if notSucceed %}
                <span style="color:red">Kuvan lataus epäonnistui.</span><br>
            {% endif %}
            <input type="hidden" name="permission_id" value="-2">
            <p>
                <input type="submit" value="Lähetä viesti">
            </p>
        </form>
    {% else %}
        <a href="/login">Kirjaudu</a>
         tai 
        <a href="/register">rekisteröidy</a>
         kirjoittaaksesi viestin.
    {% endif %}
    <br>
    <br>
    <!-- [[id, topic_id, username, content, pic_name, time, pic_data, profile_pic_data]] -->
    <b>Viestit:</b> <br>
    <p>
        <hr>
        {% if messages != None %}
            {% for message in messages %}
                <b>{{message[2]}}:</b><br>
                {% if message[7] != None %}
                    <div style="width: 64px; height: 64px; display: initial;">
                        <img src="data:image/jpeg;base64,{{message[7]}}" alt="profiilikuva" style="width: inherit">
                    </div>
                {% endif %}
                <br>
                {{message[3]}}
                <br>{% if message[4] != None %}
                <div style="width: 250px; height: 250px;">
                    <img src="data:image/jpeg;base64,{{message[6]}}" alt="{{topic[4]}}" style="width: inherit">
                </div>
                {% endif %}
                <br><br>
                lähetetty: {{message[5].strftime("%Y-%m-%d %H:%M:%S")}}<br>
                <form action="/remove" method="POST">
                    <input type="hidden" name="remove_message_id" value="{{message[0]}}">
                    <input type="submit" value="Poista">
                </form>
                <hr>
            {% endfor %}
        {% endif %}
    </p>
</p>
<script>

    var textCounter = document.getElementById("onJS");
    if (textCounter.style.display == "none"){
        // Jos javascript on päällä, sivusto näyttää viestin merkkien määrän samalla kun kirjoittaa
        textCounter.style.display = "block"
    }

    var textarea = document.querySelector("textarea");
    var currentLength = 0;

    textarea.addEventListener("input", event => {
            const target = event.currentTarget;
            currentLength = target.value.length;
            document.getElementById("text_length").innerText = currentLength
        });

    function checkText(form) {
            if (form.message.value == 0) {
                alert("Viesti ei voi olla tyhjä!")
                return false;
            }
            return true;
        }

</script>
{% endblock %}